/* nav-start */
.nav-bar ul li {
  position: relative;
}
:root{
  --main-color:orange;
}
.poo{
background-color: var(--main-color);
}
.nav-bar ul li::after {
  content: "";
  position: absolute;
  bottom: 2px;
  width: 0;
  height: 2px;
  background-color: red;
  transition: all 0.4s;
}
.nav-bar ul li:hover::after {
  width: 100%;
}
.change-color:hover {
  color: blue;
}
/* nav-end */
z
/* home-start */
.home {
  background-image: linear-gradient(rgb(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../photo/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  h1 {
    font-size: 48px;
  }
  .typing p {
    position: relative;
  }
  .typing p::after {
    content: "";
    position: absolute;
    animation-name: typing;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    color: white;
    text-align: center;
    font-size: 24px;
    left: -40px;
  }
}
/*32 Developer  40Freelancer 48Photographer */
@keyframes typing {
  0% {
    content: "D|";
  }
  2% {
    content: "De|";
  }
  4% {
    content: "Des|";
  }
  5% {
    content: "Desi|";
  }
  7% {
    content: "Desig|";
  }
  9% {
    content: "Design|";
  }
  11% {
    content: "Designe|";
  }
  13% {
    content: "Designer|";
  }
  14% {
    content: "Designe|";
  }
  16% {
    content: "Design|";
  }
  17% {
    content: "Desig|";
  }
  18% {
    content: "Desi|";
  }
  23% {
    content: "Des|";
  }
  25% {
    content: "De|";
  }
  27% {
    content: "Dev|";
  }
  29% {
    content: "Deve|";
  }
  32% {
    content: "Devel|";
  }
  34% {
    content: "Develo|";
  }
  36% {
    content: "Develop|";
  }
  38% {
    content: "Develope|";
  }
  42% {
    content: "Developer|";
  }
  43% {
    content: "Develope|";
  }
  44% {
    content: "Develop|";
  }
  46% {
    content: "Develo|";
  }
  47% {
    content: "Devel|";
  }
  49% {
    content: "Deve|";
  }
  51% {
    content: "Dev|";
  }
  52% {
    content: "De|";
  }
  54% {
    content: "D|";
  }
  56% {
    content: "F|";
  }
  57% {
    content: "Fr|";
  }
  58% {
    content: "Fre|";
  }
  59% {
    content: "Free|";
  }
  60% {
    content: "Freel|";
  }
  61% {
    content: "Freela|";
  }
  62% {
    content: "Freelan|";
  }
  63% {
    content: "Freelanc|";
  }
  64% {
    content: "Freelance|";
  }
  65% {
    content: "Freelancer|";
  }
  67% {
    content: "Freelance|";
  }
  68% {
    content: "Freelanc|";
  }
  69% {
    content: "Freelan|";
  }
  70% {
    content: "Freela|";
  }
  71% {
    content: "Freel|";
  }
  72% {
    content: "Free|";
  }
  73% {
    content: "Fre|";
  }
  74% {
    content: "Fr|";
  }
  75% {
    content: "F|";
  }
  76% {
    content: "|";
  }
  77% {
    content: "p|";
  }
  78% {
    content: "ph|";
  }
  79% {
    content: "pho|";
  }
  80% {
    content: "phot|";
  }
  81% {
    content: "photo|";
  }
  82% {
    content: "photog|";
  }
  83% {
    content: "photogr|";
  }
  84% {
    content: "photogra|";
  }
  85% {
    content: "photograph|";
  }
  86% {
    content: "photographe|";
  }
  87% {
    content: "photographer|";
  }
  88% {
    content: "photographe|";
  }
  89% {
    content: "photograph|";
  }
  90% {
    content: "photograp|";
  }
  91% {
    content: "photogra|";
  }
  92% {
    content: "photogr|";
  }
  93% {
    content: "photog|";
  }
  94% {
    content: "photo|";
  }
  95% {
    content: "phot|";
  }
  96% {
    content: "pho|";
  }
  97% {
    content: "ph|";
  }
  98% {
    content: "p|";
  }
  99% {
    content: "|";
  }
}
/* home-end */
/* about-start */
.title {
  position: relative;
}
.title-name::before {
  position: absolute;
  content: "";
  background-color: orange;
  height: 0.125rem;
  width: 20%;
  bottom: -5px;
}
/* about-end */
/* services-start */
.services-title-info {
  position: relative;
}
.services-title-style::before {
  position: absolute;
  content: "";
  bottom: -10px;
  height: 0.25rem;
  left: 49%;
  width: 3%;
  color: orange;
  background-color: orange;
}
.card-changer {
  --bs-border-width: 0px;
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  /* --bs-card-border-width: var(--bs-border-width); */
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}
.bg-main {
  background-color: white;
}
.size {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
}
.blue-size {
  width:  5rem;
  height:   5rem;
  border-radius: 50%;
  
  
}
.border-style {
  border: solid 7px #0078ff;
}
.card-body:hover .border-style {
  border: solid 7px #d1e0f6;
}
.card-body:hover .size {
  background-color: #0078ff;
}
.card-body:hover .icon-change {
  color: white;
}
/* services-end */
/* blue-background start */
.blue-background {
  background-image:linear-gradient(rgba(0,0,255,0.7),rgba(0,0,255,0.7)) , url(../photo/post-3.jpg) ;
  background-attachment: fixed ;
  background-position: center;
  background-size: cover;
  
}
/* blue-background end */
/* portofolio start */
.portofolio{
  background-color: #F5F5F5;
}
.scale-main{
  overflow: hidden;
}
.scale-main:hover img {
  transition: all 1s;
transform: scale(1.05);

}

/* portofolio end */
/* slider start */
.slider{
  background-image:linear-gradient(rgba(0, 0, 255, 0.4),rgba(0,0,255,0.3)) , url(../photo/overlay-bg.jpg) ;
  background-attachment: fixed ;
  background-position: center;
  background-size: cover;
}
.photo-slider img{
border-radius: 50%;
}
/* slider end */
.blog{
background-color: #F5F5F5;}
.badg{
  position: absolute;
  left: 40%;
  bottom: 36%;
}
.form{
  background-image:linear-gradient(rgba(0, 0, 255, 0.4),rgba(0,0,255,0.3)) , url(../photo/overlay-bg.jpg) ;
  background-attachment: fixed ;
  background-position: center;
  background-size: cover;
}


.btn-main{
  --bs-btn-color: #fff;
  --bs-btn-bg: #0d6efd;
  --bs-btn-border-color: #0d6efd;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b5dd7ab;
  --bs-btn-hover-border-color:#ffffffd2;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0a58ca;
  --bs-btn-active-border-color: #fff;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d6efd;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-btn-border-width:5px;
}



.form-icons{
  padding:.5rem;
  border-radius: 50%;
  color: black;
  border:.25rem solid #0078ff;
  transition: all 0.5s ease;
}

.form-icons:hover{
   background-color:#0078ff ;
   border-color:#CDE1F8;
   color: white;
}
span:hover{
  color: blue;
}
.badge-main{position: absolute;
  top: 60%;
  left: 40%;
}
@media (min-width:566px) {
  .badge-main{position: absolute;
  top: 63%;
  left: 40%;
}
}
@media (min-width:779px) {
  .badge-main{position: absolute;
    top: 28%;
  left: 40%;
}
}
@media (min-width:1024px) {
  .badge-main{position: absolute;
    top: 41%;
  left: 40%;
}
}
@media (min-width:1200px) {
  .badge-main{position: absolute;
    top: 56%;
  left: 30%;
}
}
